/* reset code starts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
/* reset code ends */

/* I have changed instead of orange color and Background Color. */
:root {
  --replace-orange: tomato;
  --banner-color: #99fffa;
}
/* common style starts */
a {
  color: white;
}
.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--replace-orange);
  text-transform: uppercase;
  cursor: pointer;
}

.title {
  color: white;
  background-color: green;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* common style  ends */

body {
  font-family: "Roboto", sans-serif;

  margin: 0 auto;
}

/* nav starts here  */
nav {
  background-color: #293462;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  min-height: 10vh;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 1s all;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  color: var(--replace-orange);
}

.right-nav {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
/* nav ends here  */
/* header starts here  */
header {
  min-height: 40vh;
}
.container {
  display: flex;
  padding: 2rem;
}
.left-div {
  background-color: var(--banner-color);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.right-div {
  background-color: rebeccapurple;
  flex: 1;
}
/* header ends here  */
/* main starts here  */
main {
  min-height: 40vh;
  background-color: var(--banner-color);
}

main section .content-box {
  margin: 0 2rem;
  padding: 2rem 0;
}
/* main ends here  */
/* footer starts here  */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #293462;
  color: white;
  min-height: 10vh;
}

.footer-content {
  margin-left: 2rem;
}

.icons {
  margin-right: 2rem;
}
.icon {
  padding: 1rem;
  font-size: 1.5rem;
}
/* footer ends here  */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    background-color: #002fec;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    background-color: red;
  }
  .right-div {
    display: none;
  }
}
